@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');
/* Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Serif+Pro&display=swap');
/* Oswald, Source Serif Pro */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,300;1,400&display=swap');
/* Noto Serif Display */

/* Root Variables */
:root {
  --grayBlue1: #121c24;
  --grayBlue2: #151F28;
  --coffee: #6F513C;
  --darkBrown: #1E1D1E;
  --eerieBlack: #161A1E;
  --graniteGray: #6F6560;
  --middleGray: #8D8077;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #1A1F23;
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}


